@import './_fonts.scss';
@import './_normalize.scss';
@import './_typography.scss';
@import './_colors.scss';
@import './_buttons.scss';

// Header
.tagline {
  padding: 3rem;
  color: #fff;
}

.tagline:hover {
  color: $primary-color;
}

// MovieGrid Component
.movie-list {
  margin-top: 2em;
  margin-bottom: 5em;
}

.movie-item {
  text-align: center;
  width: 60%;
  padding: 2rem;
  margin: 2em auto;
  background-color: #fff;
  box-shadow: 10px 10px $primary-color;
}

.movie-item img{
  width: 25%;
}

.movie-item section {
  padding-top: 5%;
  padding-bottom: 5%;
  float: right;
  width: 50%;
  line-height: .5;
}

.add-btn {
  margin-left: 50%;
  margin-bottom: 2%;
}

// Movie Component
.single-movie {
  margin: 5% auto;
  width: 80%;
}

.single-movie article {
  margin-bottom: 2em;
}

.single-movie img {
  width: 40%;
  box-shadow: 10px 10px $primary-color;
}

.single-movie h4 {
  margin-bottom: 0;
}

.single-movie p {
  text-indent: 5%;
}

.movie-description {
  position: relative;
  float: right;
  width: 50%;
  color: #fff;
}

.edit-btn {
  margin-left: 50%;
}

// Modal
.modal {
  margin-top: 2%;
  margin-bottom: 2%;
}

.modal-form {
  margin: 2% auto;
  width: 27em;
  text-align: center;
}

.modal-form input,
.modal-form textarea {
  margin: 5% auto;
  font: normal 2rem "Caviar_Dreams", sans-serif;
  border: none;
  outline: none;
}

.modal-form input:hover,
.modal-form textarea:hover {
  border-color: rgb(188, 188, 255);
  text-indent: 5%;
}

.modal-form input {
  width: 100%;
  border-bottom: 2px solid #000;
}

.modal-form textarea {
  width: 535px;
  height: 150px;
  border: 2px solid #000;
}
